/* GLOBAL */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    margin-bottom: 10px;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

input, textarea {
    color: #1a1818;
    padding: 12px 20px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid  #1a1818;
    margin-bottom: 15px;
}

input:focus, textarea:focus {
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #1a1818;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.box {
    background-color: #fff;
}

.tac {
    text-align: center;
}

.dark .box {
    background-color: #1a1818;
}

.btn {
    text-align: center;
    color: #fff;
    background-color:  #151515;
    display: inline-block;
    padding: 12px 20px; 
    border-radius: 5px;
    transition: background .2s linear;
}

.btn:hover {
    background-color:  #292929;
}

.typography {
    color: #1a1818;
}

.dark .typography {
    color: #fff;
}

.text {
    color: #1a1818;
    font-size: 17px;
    line-height: 1.2;
    margin: 0 0 20px 0;
}

.dark .text {
    color: #fff;
}

.footer .text {
    color: #151515;
}

.container {
    max-width: 1170px;
    width: 100%;
    /* padding: 0 15px; */
    margin: 0 auto;
}

.container__slim {
    max-width: 900px;
}

/* HEADER */
.header {
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    height: 90px;
    background-color: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #151515;
    font-weight: 700;
} 

.theme {
    color: #fff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    padding: 30px;
}

/* FOOTER */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: #ffffff;
    height: 80px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MAIN */
.main__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.btn-mr {
    margin-right: 20px;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info__text {
    margin-bottom: 30px;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .error__info {
    color: red;
    display: none;
    margin-bottom: 10px;
}

.error .error__info {
    display: block;
}

.portfolio {
    padding: 30px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 3px;
}

.porfolio__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.portfolio_text {
    white-space: pre-wrap;
}

.portfolio__info {
    /* width: 50%; */
    margin-bottom: 20px;
}

.portfolio__images {
    margin-bottom: 25px;
}

.portfolio__image {
    padding: 5px;
    max-height: 350px;
    /* width: 50%; */
}

.portfolio__image img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
}

.portfolio__title {
    font-size: 36px;
    margin-bottom: 20px;
}

/* ABOUT */
.about__title {
    margin-bottom: 30px;
}

/* .about__text {
} */

.about__text p {
    font-size: 19px;
    margin-bottom: 5px;
}

/* OTHER */
.mb0 {
    margin-bottom: 0;
}

.file-input-container {
    display: inline-block;
    position: relative;
}

.file-input-container input[type="file"] {
    display: inline-block;
    position: relative;
    opacity: 0;
    z-index: 2;
}

.file-input-container .custom-file-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    z-index: 1;
    width: 100%;
}

.pure-material-progress-linear {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    margin-top: 7px;
    height: 0.25em;
    color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
    font-size: 16px;
}

.pure-material-progress-linear-active {
    display: block;
}

.pure-material-progress-linear::-webkit-progress-bar {
    background-color: transparent;
}

/* Determinate */
.pure-material-progress-linear::-webkit-progress-value {
    background-color: currentColor;
    transition: all 0.2s;
}

.pure-material-progress-linear::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
}

.pure-material-progress-linear::-ms-fill {
    border: none;
    background-color: currentColor;
    transition: all 0.2s;
}

/* Indeterminate */
.pure-material-progress-linear:indeterminate {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 71.5%, currentColor 71.5%, currentColor 84%, transparent 84%);
    animation: pure-material-progress-linear 2s infinite linear;
}

.pure-material-progress-linear:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

.pure-material-progress-linear:indeterminate::-ms-fill {
    animation-name: none;
}

@keyframes pure-material-progress-linear {
    0% {
        background-size: 200% 100%;
        background-position: left -31.25% top 0%;
    }
    50% {
        background-size: 800% 100%;
        background-position: left -49% top 0%;
    }
    100% {
        background-size: 400% 100%;
        background-position: left -102% top 0%;
    }
}

@media (max-width: 647px) {
    .container {
        max-width: 467px;
    }

    .btn {
        font-size: 12px;
        padding: 11px 15px;
    }

    .header {
        padding: 20px 10px;
    }

    .main__title {
        font-size: 24px;
        margin-bottom: 13px;
    }

    .info__text {
        margin-bottom: 20px;
    }

    .text {
        font-size: 14px;
    }

    input, textarea {
        max-width: 300px;
    }

    .file-input-container {
        max-width: 300px;
    }

    .form {
        align-items: center;
    }

    .form > * {
        width: 100%;
    }

    .portfolio {
        padding: 10px;
    }

    .main {
        padding: 15px;
    }

    .portfolio__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .portfolio_text {
        margin-bottom: 15px;
    }

    .portfolio__actions > .btn {
        margin-right: 5px;
    }

    .about__text p {
        font-size: 15px;
    }
}

@media (max-width: 467px) {
    .portfolio__title {
        font-size: 18px;
    }

    .portfolio_text {
        font-size: 13px;
        margin-bottom: 0;
    }

    /* .porfolio__info {
        width: 40%;
    }

    .portfolio__image {
        width: 60%;
    } */

    .footer {
        padding: 10px 30px;
    }
    
    .footer__inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__inner > * {
        margin-bottom: 10px;
    }

    .footer__inner > *:first-child {
        margin-bottom: 0;
    }

    .form__actions {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .form__actions > .btn {
        margin-right: 0;
    }

    .form__actions > * {
        margin-bottom: 10px;
    }

    .form__actions > *:first-child {
        margin-bottom: 0;
    }
}

@media (max-width: 378px) {
    .info__text {
        font-size: 12px;
    }

    .btn {
        font-size: 11px;
    }

    input, textarea {
        font-size: 12px;
        max-width: 200px;
    }

    .file-input-container {
        font-size: 12px;
        max-width: 200px;
    }

    .main__title {
        font-size: 20px;
    }
}


/* SLICK */
.portfolio__images > .slick-arrow::before {
    /* width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #151515; */
    color: #fff;
}

.light .portfolio__images > .slick-arrow::before {
    /* width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #151515; */
    color: #000;
}